.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height:90vh;
}

.form-container{
    background-color: #f9f9f9;
    border: 1px solid #000000;
   padding: 30px 0 30px 0;
}

.input-box{
   
    height: 30px;
    margin: 0px 20px 20px 20px;
}

.label{
    font-weight: 500;
    margin-left: 20px
}